@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Kumbh+Sans:wght@100..900&display=swap');

.ga-maamli-regular {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kumbh-sans-normal {
    font-family: "Kumbh Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.bg-light-danger {
    background-color: rgb(251, 167, 176) !important;
}

.border-light-danger {
    --bs-border-opacity: 1;
    border-color: rgb(250, 204, 209) !important;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.h-100vh {
    height: 100vh;
}

.mw-500 {
    min-width: 250px;
    width: 400px;
}

.custon-box-shadow {
    box-shadow: 10px 10px 10px rgb(196, 171, 173);
}

/* some new custom classes */
@media (max-width: 768px) {
    .fixed-custom-md-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (min-width: 768px) {
    .d-md-list-item {
        display: list-item !important;
    }
}